.yamm {
    .header {
        border-bottom: 1px solid #c2c2c2;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .yamm-content {
        color: $color-heathergrey;
        padding-bottom:10px;
        ul {
            margin-bottom: 20px;
        }
        h3 {
            text-transform: uppercase;
            color: $color-dodgerblue;
            margin: 0;
        }
    }
    .yamm-content a, .dropdown-menu a {
        color: $color-heathergrey;
        &:hover {
            color: $color-dodgerblue;
        }
    }
    .dropdown-menu {
        background: $color-grey;
        padding: 0;
        .container {
            max-width: 1100px;
        }
        li {
            line-height: 1.8em;
        }
    }
    .link-list {
        background: url("//www.montana.edu/msucommon/home/resources/images/structure/background/megamenu-divider.png") right repeat-y;
        padding-right: 30px;
        padding-left: 0px;
    }
    .feature-icon {
        text-align: center;
    }
    figure {
        padding: 50px 0 10px 0px;
        font-size: 17px;
    }
    figcaption {
        color: $color-dodgerblue;
        padding: 5px 10%;
    }
    a:hover {
        text-decoration: none;
        figcaption {
            color: $color-orange;
        }
    }
    .navbar {
        margin-bottom: 0;
        min-height: inherit;
    }
    .navbar-inverse {
        border: 0;
        background-color: transparent;
    }
    .navbar-nav {
        margin: 0;
        li:hover, li.mobile-active {
            border-right: 0;
            border-left: 0;
        }
    }
    .nav {
        .dropdown.open {
            background-color: #000;
            >a {
                color: $color-gold;
            }
        }
        .open {
            > a, > a:hover, > a:focus {
                background-color: inherit;
            }
        }
    }
}
// end .yamm
.yamm.full .dropdown-menu {
    width: 100%;
}
.yamm .link-list .col-sm-12 {
    float: none;
}
.yamm .link-list.divider0 {
    background: none;
    padding-right: 0;
}
.yamm, .yamm.visible, #menu-search-open.visible {
    display: block;
}
#menu-search-open {
    display: none;
}
@media (min-width:$screen-sm-min) {
    .yamm {
        .dropdown-menu {
          right:auto;left:auto; 
          
          li {
            line-height: 1.5em;
            padding: 2px 0 4px 0;
          }
        }
        li a {
            color: $color-heathergrey;
        }
        .navbar-nav {
        margin: 0;
        width:100%;
        text-align:center;
        > li { float:none;}
        }
        .nav {
      li.yamm-fw { display: inline-block; *display:inline; /*IE7*/
 *zoom:1; /*IE7*/
}
}
    }
    .fa-angle-right {
        padding-left: 20px;
    }
}
#stick2.affix .navbar-nav > li > a{ color: #fff; }
#stick2.affix .navbar-nav > li.open > a{ color: $color-gold; }
 