/* feature themes */
#featuredslider { background: $color-grey; color: #000;   overflow: hidden; height: auto;font-size: .9rem;
#featurebox { 
    a {color: $color-linkblue; font-weight: bold; text-decoration:underline; }
    h1, h2, h3, h4 { color: #000; margin: 0 0 3px 0; }
  }
}

#featuredslider.dark { background: #333; color:$color-grey; 
  #featurebox { 
    a {color: $color-gold;  }
    h1, h2, h3, h4 { color: #ffffff;   }
  }
}

/* new styles */
.leftfeaturebox, .rightfeaturebox {
  .feature-text {  padding: 20px;}  
} 

@media (max-width: $screen-xs-max) {
.rightfeaturebox .image-carousel, .leftfeaturebox .image-carousel { float:none !important; }
}
@media (min-width: $screen-md) {
 
.leftfeaturebox .image-carousel { padding-left:0; float:right;}
.rightfeaturebox .image-carousel { padding-right:0; float:left;}
  
.leftfeaturebox .feature-text {  padding-right:0;}  
.rightfeaturebox .feature-text {  padding-left: 0px;} 
}

.image-carousel img { width:100%; height:auto;}

.image-carousel > ul { list-style:none; padding-left:0;}

ul.slick-slider {
  margin: 0; 
  padding: 0;
}

.slide-caption { bottom:0px; padding: 10px; position:absolute;}

.slick-slider {
    margin-bottom: 0;
    position:relative;
    li { position:relative;}
}
ul.slickslide {
    padding-left:0;
    width:100%;
  
}
ul.slickslide li img {
    width:100%;
    height:auto;
}
.slick-prev:before, .slick-next:before {
    color:#ececec;
}
.slick-prev, .slick-next { z-index:30;}
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}
.slick-dots {
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(0, 0, 0, 0.5);
}
.slick-dots li {
    width: 5px;
    height:14px;
}
.slick-dots li button:before {
    font-size: 9px;
    color: #fff;
    opacity: 0.75;
    line-height: 14px;
}
.slick-dots li.slick-active button:before {
    color: #ffcb05;
    opacity: 0.75;
}
/* loading issue fix; https://github.com/kenwheeler/slick/issues/790 */
.slick-slider .slick-track {
    min-width:100%;
}

/* support for edge-to-edge banner */
.container-fluid .main-banner {
    padding-left: 0; padding-right:0;
}


/* caption styles */
.slide-caption {
  .read-more { text-transform:uppercase; font-size: .7rem; letter-spacing: .02em; margin-left:.5rem;}
}
.slide-caption{
    color:#fff; 
    font-size:1rem; 
    background-color: rgba(94, 94, 94, 0.8);
    text-shadow: none; width:100%; display:block;
    a { color:$color-gold}
  }
  
.slide-caption-theme-light{
    color:#000; 
    font-size:1rem; 
    background-color: rgba(248, 248, 248, 0.80);
    text-shadow: none; width:100%; display:block;
    a { color:$color-linkblue}
  }