td { padding: 3px; }
table { border-collapse: collapse; border: 0; border-spacing: 0; }
table td { vertical-align: top; text-align: left; }
table td.noborder { border: 0 !important; }
table.table_dark td, table.table_light td { border: 1px solid #ccc; border-collapse: collapse; padding: 5px;}
table.table_light, table.table_dark {  border: 1px solid #000; margin-bottom: 5px; background: #fff; }
table.table_light { border:1px solid #ccc;}
table.table_dark td.active { padding: 4px; margin: 0; text-align: center; background-color: #C8CEDD; border: 1px solid #5C6C96; color: #003f7f; font-size: 15px; font-family: Georgia, "Times New Roman", Times, serif; }
table.table_dark th { background-color: #333; color: #efefef; padding: 3px; text-align: center; }
table.table_light th { color: #333; background-color:#eee; padding: 3px; text-align: center; }
table.table_light th a, table.table_dark th a {text-decoration:none; color:inherit; }
table.table_light th a:hover, table.table_dark th a:hover { text-decoration:underline;}
table.table_dark th p { color: #efefef; }
table.table_dark td.time { background-color: #ddd; padding: 3px; text-transform: uppercase; font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; border-right: 1px solid #000; border-left: 1px solid #000; }
table.table_light caption, table.table_dark caption { text-align: left; font-weight: bold; font-size: 16px; padding: 30px 0 4px 0; color: #226bb7; line-height: 24px; }
table.noborder, table.noborder td { border: 0; background: transparent; background-color: transparent; }