/* CSS Document 
Jeanine Schoessler
Montana State University
Date: 2013-09-11
*/
.subHeading { font-weight: bold; color: #003f7f }
hr { border: 0; color: #000; background-color: #000; height: 1px }
img { border: 0 }
.center { text-align: center }
.printheader { display: none }
/* Main Content */
/* HTML5 STRUCTURE */
.hide { display: none }
.show { display: block }
input[type="search"] { -webkit-appearance: textfield; }
.cf:before, .cf:after { content: ""; display: table }
.cf:after { clear: both }
/* For IE 6/7 (triggers hasLayout) */ .cf { *zoom:1
}
.modboxin { display: block; background-color: #888; border: 4px solid #888; margin: 0 0 15px 0; }
.modboxin h2, .modboxin h3 { padding: 2px 5px; margin: 0; color: #fff; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.modboxcontent { background-color: #fff; padding: 10px 10px 10px 15px; }
.modboxcontent ul, .modboxcontent ol { margin: 0; padding: 0; line-height: 1.6em; }
.modboxcontent ul li, .modboxcontent ol li { padding: 0 0 7px 0; margin-left: 8px; }
.modboxcontent ol li { margin-left: 11px; }
.modboxcontent ul.nobullet li, .modboxcontent ol.nobullet li { list-style: none; padding: 0 0 3px 0; margin-left: 0; }
.RSSfeeddiv { padding: 10px; margin: 0; }
.RSSevent { list-style: none; padding: 0; margin: 0; }
.RSSevent li { margin-bottom: 10px; }
.RSSevent .eventtitle { font-weight: bold; color: #003f7f; }
.RSSevent .eventlink { color: #003f7f; }
.RSSevent .eventdate, .RSSevent .eventdateSimple { clear: left; display: block; font-style: italic; color: #585858; }
.RSSevent .eventcontent { color: #585858; font-size: .8em; }
.RSSviewmorelink a { text-align: center; text-decoration: underline; display: block; padding: 3px 8px 3px 3px; margin: 0; }
.RSSevent .noevents { color: #585858; }
.event_timeplace { display: none; }
.clear { clear: both; display: block; }
.barbtn { background-color:#0077e8; background-image: url('/_resources/images/structure/btn-bk-bluerule.gif'); background-repeat: repeat-x; display: block; margin: 15px 0; color: #fff; text-decoration: none; padding: 0 1%; text-align: center; font-weight: bold; font-size: 12px; } 
.barbtn:hover { background:#006bd0}
.barbtn a { color: #fff !important; text-decoration: none !important; display: block; padding: 10px 5px; }
.borderradius10 { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.hrule { padding-top: 15px; margin-bottom: 15px; border-bottom: 1px solid #C4A62E; clear: both }
.hruledash { padding-top: 15px; margin-bottom: 15px; border-bottom: 1px dashed #CCC; clear: both }
.hrule-mtn { padding-top: 15px; margin-bottom: 15px; clear: both; background-image: url('//www.montana.edu/_resources/images/structure/elements/hr-mountain960.gif'); background-position: center top; background-repeat: no-repeat; }
#topimage { margin: 0 0 10px 0; float: right; max-width:100%; }
.credits { font-size: 12px; font-style: italic; padding: 5px 0 10px 0 }
.optionimg { vertical-align: middle; margin-right: 3px; float: left }
.newsfont { font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; line-height: 1.4em }
.noprint { }
.moreinfo { font-size: 14px; display: inline; padding-left: 3px }
dl { margin: 1em 0 2em 0; padding: 0; }
dt { clear: left; margin: 0; padding: 5px 2% 0 2%; font-weight: bold; }
dd { margin: 0; padding: 0 2% 5px 2%; }
/* Old Styles revisited */
.greyEmphasis { font-style: italic; color: #666 }
.subHeading, .subHeading1, .subHeading2, .subHeading3, .subHeading4, .subHeading5, .subHeading6 { font-weight: bold; color: #003f7f }
.subHeading1 { font-size: 24px }
.subHeading2 { font-size: 16px }
.subHeading, .subHeading3 { font-size: 14px }
.subHeading4, .subHeading5, .subHeading6 { font-size: 12px; color: #000 }
.photoFloat { width: 40%; }
.photoCaption { font-size: 11px; color: #333; }
.paddingB0 { padding-bottom: 0 }
.paddingL0 { padding-left: 0 }
.paddingR0 { padding-right: 0 }
.paddingT0 { padding-top: 0 }
.paddingTB0 { padding-top: 0; padding-bottom: 0 }
.paddingLR0 { padding-right: 0; padding-left: 0 }
.paddingAll0 { padding: 0 }
.paddingB5 { padding-bottom: 5px }
.paddingL5 { padding-left: 5px }
.paddingR5 { padding-right: 5px }
.paddingT5 { padding-top: 5px }
.paddingTB5 { padding-top: 5px; padding-bottom: 5px }
.paddingLR5 { padding-right: 5px; padding-left: 5px }
.paddingAll5 { padding: 5px }
.paddingB10 { padding-bottom: 10px }
.paddingL10 { padding-left: 10px }
.paddingR10 { padding-right: 10px }
.paddingT10 { padding-top: 10px }
.paddingT20 { padding-top: 20px }
.paddingTB10 { padding-top: 10px; padding-bottom: 10px }
.paddingLR10 { padding-right: 10px; padding-left: 10px }
.paddingAll10 { padding: 10px }
.noMarginBottom { margin-bottom: 0 }
.noMarginTop { margin-top: 0 }
.marginL0 { margin-left: 0 }
.marginT20 { margin-top:20;}
.marginR0 { margin-right: 0 }
.width25 { width: 25%; }
.width33 { width: 33%; }
.width40 { width: 40%; }
.width45 { width: 45%; }
.width50 { width: 50%; }
.width66 { width: 66%; }
.width100 { width: 100%; }
.red { color: #e00 }
.pIndent { text-indent: -.75in; margin-left: .75in }


  

pre { white-space: pre-wrap;       /* css-3 */ white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */ white-space: -pre-wrap;      /* Opera 4-6 */ white-space: -o-pre-wrap;    /* Opera 7 */ word-wrap: break-word;       /* Internet Explorer 5.5+ */ }

.float-left { max-width:100%; padding: 5px 15px 10px 0; float:left;}
.float-right { max-width:100%; padding: 5px 0 10px 15px; float:right;} 



/* Icon list */
ul.iconlist { list-style:none; padding:0;margin:0; font-size:1.25em;}
.iconlist li {display: inline; list-style: none; margin-right: .5em;}
.iconlist li a, .icon-list li a:visited, .icon-list li a:active { color: #585858; text-decoration:none; }
.iconlist li a:hover { color: #003f7f;}

/* MEDIA QUERY 36.5EM */
@media (max-width:36.5em) {
.float-left img, .float-right img { padding:0;}
}
 
/* MEDIA QUERY 30EM 

 480px */
@media (max-width: $screen-ts-max)  {
 .search,  form#search { width: 97%; padding: 10px 0 0 0; margin: 0 3% 0 0; float: none; }
 input.searchformbox { width: 82%; }
   .modbox { float: none; width: 100%; clear: both; margin: 15px 0; padding-left: 0; }
 .mainnav { float: left; }
 .barbtn { width: 98%; }
 #topimage { width: 100% !important; } 

 .contact-feature #contact-photo { width: 99%; border-right: 0; margin: 1px; padding: 0 0 10px 0; position: relative; z-index: 20; }
  
 .float-left, .float-right { max-width:100%; padding: 10px 0; float:none;}
 .photoFloat { width:100%;}
 
  
}

  
a.list-group-item.active {text-decoration:none;font-weight:bold;font-size:14px; }
a#de { width:15px; display:block; }
#oupublish a,#oupublish a:visited,#oupublish a:hover,#oupublish a:focus { text-decoration: none; color:#fff; text-shadow: 0 1px 0 #398439;}
#oupublish .fa { font-size: 14px; text-shadow: 0 1px 0 #5cb85c; }
#oupublish .btn-info { background-color: #d9f7ff; }
#oupublish:hover .fa { font-size: 14px; text-shadow: 0 1px 0 #4cae4c; }
#oupublish { float: right; border: 0; padding: 3px 6px; }

@font-face { font-family: 'montanastate'; src: url('/_resources/fonts/montanastate.eot'); src: url('/_resources/fonts/montanastate.eot?#iefix') format('embedded-opentype'),  url('/_resources/fonts/montanastate.woff') format('woff'),  url('/_resources/fonts/montanastate.ttf') format('truetype'),  url('/_resources/fonts/montanastate.svg#montanastate') format('svg'); font-weight: normal; font-style: normal; }
 [class^="icon-"], [class*=" icon-"] {
 font-family: 'montanastate';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
 -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before { content: "\e600"; }
.icon-facebook2:before { content: "\e601"; }
.icon-instagram:before { content: "\e602"; }
.icon-twitter:before { content: "\e603"; }
.icon-twitter2:before { content: "\e604"; }
.icon-feed:before { content: "\e605"; }
.icon-feed2:before { content: "\e606"; }
.icon-google-plus:before { content: "\e607"; }
.icon-google-plus2:before { content: "\e608"; }
.icon-mail:before { content: "\e609"; }
.icon-mail2:before { content: "\e60a"; }
.icon-file-pdf:before { content: "\e60b"; }
.icon-file-word:before { content: "\e60c"; }
.icon-file-openoffice:before { content: "\e60d"; }
.icon-file-excel:before { content: "\e60e"; }
.icon-add:before { content: "\e610"; }
.icon-subtract:before { content: "\e611"; }
.icon-linkedin:before { content: "\e60f"; }
.icon-pinterest:before { content: "\e612"; }
.icon-android:before { content: "\e613"; }
.icon-apple:before { content: "\e614"; }
.icon-tumblr:before { content: "\e615"; }
.icon-tumblr2:before { content: "\e616"; }
.icon-vimeo:before { content: "\e617"; }
.icon-vimeo2:before { content: "\e618"; }
.icon-flickr:before { content: "\e619"; }
.icon-flickr2:before { content: "\e61a"; }
.icon-picassa:before { content: "\e61b"; }
.icon-wordpress:before { content: "\e61c"; }
.icon-wordpress2:before { content: "\e61d"; }
.icon-delicious:before { content: "\e61e"; }
.icon-envelope:before { content: "\e61f"; }
.icon-calendar:before { content: "\e620"; }
.icon-compose:before { content: "\e621"; }
.icon-hyperlink:before { content: "\e622"; }
.icon-trash:before { content: "\e623"; }
.icon-user:before { content: "\e624"; } 
.icon-pin:before { content: "\e625"; }

.icon-twitter,.icon-twitter2,.fa-twitter-square { color: #41b7d8 }
.icon-facebook,.icon-facebook2,.fa-facebook-square { color: #3b5997 }
.icon-google-plus,.icon-google-plus2,.fa-google-plus-square { color: #d64937 }
.icon-linkedin,.fa-linkedin-square { color: #0073b2 }
.icon-vimeo,.icon-vimeo2,.fa-vimeo-square { color: #388fc5 }
.icon-flickr,.icon-flickr2,.fa-flickr { color: #ff0084 }
.icon-pinterest,.fa-pinterest-square { color: #cb2027 }
.icon-skype { color: #00aff0 }
.icon-feed,.icon-feed2,.fa-rss-square { color: #e0812a }
.fa-tumblr-square {color:#34465D}
.fa-youtube-square {color:#DD2B27}
.fa-share-alt-square {color:#1C6F00}
a.fa-msu-socialicon {margin-right:5px;text-decoration: none !important;}
a.fa-msu-socialicon:hover {color: #333;}
a.icon-font { text-decoration: none !important; }
a.icon-font:hover { color: #333; }

.screen-reader { position: absolute; top: -9999px; left: -9999px; }
.usage-instructions {display:none;}
 
/* Table of contents */
.toc li { display:block; padding:0; list-style:none;margin:0; }
.toc li  a {padding: 5px 3px; display:inline-block; text-decoration:none;border-bottom: 1px dotted #ccc; }
.toc li a:hover { background:#eee;}
.toc { padding:0;margin:0 15px 0 15px;}
.toc li.header { padding: 5px 3px; margin-left:-5px; text-transform:uppercase; font-size: .8em; font-weight:bold;}


/* Icon font sizes */
.icon-16 { font-size: 16px;}
.icon-24 { font-size: 24px;}
.icon-26 { font-size: 26px;}
.icon-32 { font-size: 32px;}
.icon-48 { font-size: 48px;}
.icon-64 { font-size: 64px;}

/* Responsive Iframe */
.vid, .responsive-object { position: relative; padding-bottom: 56.25%; /*padding-top: 30px;*/ height: 0; overflow: hidden; 
  iframe, object, embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}


/* CSE */
#gsc-iw-id1{
  height: 30px;
  border-color: #898989;
}
input.gsc-search-button-v2{
  width: 71px;
  height: 29px;
}

/* rss stuff */
#rightpane .rss-feed { padding: 10px;margin: 0px;}
#rightpane .rss-feed { list-style: none; padding: 0; margin: 0;}
#rightpane .rss-feed li.rss-item { list-style: none; margin-bottom: 10px; line-height:1.5em;clear:left; padding-top:3px;}
#rightpane .rss-feed li.rss-item .rss-title { display:block; color: #003f7f; font-weight:bold; }
#rightpane .rss-feed li.rss-item .rss-title a { text-decoration:none; }
#rightpane .rss-feed li.rss-item .rss-title a:hover { text-decoration:underline; }
.rss-pubdate { display:block; font-style:italic; font-size: .9em; }
.rss-description p { display:inline; }
#rightpane .rss-feed li.rss-item .rss-readmore { color: #0982db; font-size: 10px; text-transform: uppercase; font-weight: bold; display: inline; padding: 3px 6px; letter-spacing: .05em; }
#rightpane .rss-feed li.rss-item .rss-readmore a { text-decoration: none; }
#rightpane .rss-feed li.rss-item .rss-readmore a:hover { text-decoration:underline;}

#rightpane .rss-feed li.rss-item .rss-thumbnail { float:left;width:14%;padding:3px 1% 5px 0px; }
#rightpane .rss-feed li.rss-item .rss-thumbnail img {width: 100%;max-width:100px; height: auto; }

#rightpane .rss-feed li.rss-item .rss-content { float:none;width:100%;padding:3px 0px 5px 0px; }
#rightpane .rss-feed.thumbnail-yes li.rss-item .rss-content { float:left;width:84%;padding:3px 0px 5px 1%; }

@media only screen and (max-width:30em) {
#rightpane .rss-feed li.rss-item .rss-thumbnail { display:none;}
#rightpane .rss-feed.thumbnail-yes li.rss-item .rss-content { width: 100%; padding: 3px 0 5px 0;}
} 


/* Remove bootstrap box model from section */
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}