@import "mixins/burger";

.menu-button {
  display: inline-block;
  padding: .5em;
 
}

.burger-icon {
  @include burger(20px, 3px, 5px, #fff);
}
a#menuButton { padding-top:16px;}
.mobile-active .menu-button .burger-icon {
  @include burger-to-cross;
}
.mainnav ul li {
    display: block;
    padding: 0;
    width: 100%;
    float: left;
    li {
        display: block;
        padding: 0;
        width: 100%;
        float: left;
    }
}
@media (max-width: $screen-xs-max) {
  .navbar {border:0;}
    header {
        #mobile_buttons {
           // margin-right: -15px;
        }
        #navbar-collapse-1 > ul li:first-child {
            border-top: 0;
        }
        
        .navbar-nav {
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
            li:hover, li.mobile-active {
                background: $color-brightgold;
            }
            > li > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            
        }
        .dropdown.yamm-fw {
            display: inline-block;
            text-align: left;
            width: 100%;
            background: $color-grey;
            color: #000;
            > a {
                color: #000;
            }
            &.open > a {
                color: #fff;
            }
        } 
        .yamm .dropdown {
            position: relative;
        }
        .dropdown-menu > li.container {
            padding-left: 0;
            padding-right: 0;
        }
        #mobile_buttons.navbar-nav > li {
            background: #0e6aad;
            background: lighten( $color-blue, 8% );
            border-right: 1px solid $color-blue;        
            border-left: 1px solid lighten( $color-blue, 15% ); 
            font-size: 18px;
            &:hover {background: lighten( $color-blue, 12% );  }
            &.mobile-active {  
              background: $color-brightgold;
              border-right: 1px solid darken( $color-brightgold, 10% );        
              border-left: 1px solid lighten( $color-brightgold, 30% ); 
            }
        }
        .navbar-brand {
            height: auto;
            //padding: 5px 10px 5px 0;
            padding-top:5px; padding-bottom:5px;
            img {
                width: 150px;
                height: auto;
            }
        }
        #navbar-collapse-1 {
            position: relative;
        }
        .nav .open {
            > a, > a:hover, > a:focus {
                background-color: $color-gold;
            }
        }
        #mobile_buttons.navbar-nav > li.open {
            border-left: 1px solid lighten($color-gold, 30%);
            border-right: 1px solid darken($color-gold, 10%);
        }
        nav.mainnav ul {
            border-left: 0;
        }
    }
    .yamm,
    #menu-search-open {
        display: none;
        &.visible {
            display: block;
        }
    }
    #navbar-collapse-1 {
      .container {
        padding-left:0;padding-right:0;
      }
        > ul {
            li {
                margin: 0;
                font-size: 14px;
                border-top: 1px solid #cccaca;
                background-color: #f9f9f9;
                
                &:first-child { border-top: 0;}
                
                
                a {
                    padding: 13px 10px 16px 10px;
                    margin: 0;
                    display: block;
                    color: $color-blue;
                }
                li {
                    background: $color-grey;
                    a {
                        padding-top: 10px;
                        padding-bottom: 13px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    p {
                        padding: 8px 9px;
                        background: #888;
                        margin: 0;
                        color: #fff;
                        strong {
                            font-weight: normal;
                        }
                    }
                }
            }
            > li:before {
                position: absolute;
                display: block;
                content: '';
                border-top: 1px solid #fff;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
            > li.open {
                background: #4499d7;
                border-color: $color-dodgerblue;
                > a {
                    color: #fff;
                }
            }
            li .header {
                display: none;
            }
            li.open:before {
                border-top: 1px solid $color-lightblue;
            }
        }
    } // end #navbar-collapse-1
    .dropdown.yamm-fw > a {
        color: $color-blue;
        font-weight: 600;
    }
    .yamm {
        .caret {
            display: none;
        }
        .navbar-nav {
            li {
                background: inherit;
            }
            > li {
                a {
                    padding: 3px 5px;
                    margin: 3px 10px;
                }
                > a {
                    background: transparent url("//www.montana.edu/msucommon/home/resources/images/structure/nav/navoff5l-alt2.png") right top no-repeat;
                    cursor: pointer;
                }
                &.open > a {
                    background: transparent url("//www.montana.edu/msucommon/home/resources/images/structure/nav/navon5l-alt2.png") right top no-repeat;  
                }
                &.single,
                &.open.single {
                    >a {
                        background: transparent none;
                    }
                }
            }
        }
        .link-list {
            background: none;
            width: 100%;
            padding-right: 0;
        }
        .dropdown.yamm-fw .dropdown-menu {
            position: relative;
            margin: inherit;
            border: 0;
            float: none;
        }
        .yamm-content a,
        .dropdown-menu a {
            color: $color-blue;
            &:hover {
                color: $color-dodgerblue;
            }
        }
        .yamm-content {
            background: $color-grey;
            padding: 0 15px;
            ul {
                padding: 0;
                margin-bottom: 0;
            }
        }
    } // end .yamm
}