hr.sectionalfeature {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
  &:after {
   // content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
}
 
.background-blue        { background-color: $color-blue; } 
.background-dark-blue   { background-color: $color-dark-blue; }
.background-header-bg   { background-color: $color-header-bg;}   
.background-black       { background-color: $color-black;}     

.background-heathergrey { background-color: $color-heathergrey; } 
.background-grey        { background-color: $color-grey;}
.background-dodgerblue  { background-color: $color-dodgerblue;}
.background-lightblue   { background-color: $color-lightblue;}
.background-skyblue     { background-color: $color-skyblue;}

.background-gold        { background-color: $color-gold; } 
.background-brightgold  { background-color: $color-brightgold; }
.background-orange      { background-color: $color-orange; }
.background-lightyellow { background-color: $color-lightyellow; }

.background-eggshell    { background-color: $color-eggshell; }
.background-yellowgreen { background-color: $color-yellowgreen; }
.background-lightcoffee { background-color: $color-lightcoffee; }
.background-halloween   { background-color: $color-halloween }
.background-burntred    { background-color: $color-burntred; }
.background-epicpurple  { background-color: $color-epicpurple }
.background-olivegreen  { background-color: $color-olivegreen; }
.background-seagreen    { background-color: $color-seagreen; }
.background-mustard     { background-color: $color-mustard; }



//Make this a mixin?
.inverse .btn a { color:inherit}
.btn.btn-seagreen { background: darken( $color-seagreen, 10% ); border-color: darken( $color-seagreen, 15% );
    &:hover { background: darken( $color-seagreen, 20% ); border-color: darken( $color-seagreen, 25% ); }
}
 
.background-inverse-feature, .background-feature { 
    p { font-weight: 600; } 
    blockquote { padding: 30px 0; font-size: 20px; line-height: 1.5em; margin-bottom: 0; border: 0;  }
    strong, b { font-weight: 700; }
}
.background-feature {
    #{headings(all)}, small {
        color:#000;
    }
}

a.readmore { letter-spacing: .03em; font-size:.9rem; }

@media (max-width: $screen-ts-max) {
    .background-inverse-feature p a, .background-feature p a {
        text-transform: none;
        font-size: 11px;
        letter-spacing: normal;
        font-weight: normal; 
    }
}

.inverse{
    color:#fff;
    
    #{headings(all)}, small {
    color:$color-gold;
        
        &.skyblue { color:$color-skyblue;}
        &.orange { color:$color-orange;}
        &.white { color:#fff;}
        &.black { color:#000;}        
        &.gold { color:$color-gold;}
        a { color:inherit;}
    }
    p,ul,ol,hr,dl,dd,dt { color:#fff;}
    hr { background-color:#fff;}
    a { color: $color-gold;}
    .gold { color: $color-gold;}
    .skyblue { color: $color-skyblue;}
    .orange { color: $color-orange;}
    .white { color:#fff;}
    .color-eggshell { color:$color-eggshell; }
    
    .black { color:#000;}
    a.infinite-more-link { color:#fff; }
    a.infinite-more-link:hover {color:$color-gold;}
}
.inverse-white { 
    #{headings(all)}, small {
    color:#fff;}

    a.infinite-more-link:hover {color:$color-brightgold;}
}
.inverse-gold { 
    #{headings(all)}, small {
    color:$color-gold;}

    a.infinite-more-link:hover {color:$color-brightgold;}
}
.inverse-orange { 
    #{headings(all)}, small {
    color:$color-orange;}

    a.infinite-more-link { color:$color-orange; }
}
.inverse-skyblue { 
    #{headings(all)}, small {
    color:$color-skyblue;}

    a.infinite-more-link { color:$color-skyblue; }
    a.infinite-more-link:hover {color:$color-skyblue;}
}

@media (min-width: $screen-sm) {
.col-sm-6.video-overlay .icon, .col-sm-6.audio-overlay .icon { width: 15%;}    
.border-right-white { border-right: 1px solid #fff; }
.border-left-white { border-left: 1px solid #fff; }
.border-right-grey { border-right: 1px solid #ccc; }
.border-left-grey { border-left: 1px solid #ccc; }    
}


.slider-social .container > div { position: relative; background: #000; padding-top: 10px; padding-bottom: 10px; }
.slider-social ul { margin-bottom: 0; }
.slider-social li { position: relative; float: left; list-style: none; margin-right: 10px; line-height: 26px; text-align: center; font-size: 17px; }
.slider-social li a { display: inline-block; border: 1px solid #fff; color: #fff; width: 28px; height: 28px; -webkit-border-radius: 13px !important; -moz-border-radius: 13px !important; border-radius: 13px !important; }
.slider-social li a:hover { background: #ffcb05; color: #f7941e; border: 1px solid #f7941e; } 

@media (min-width: 769px) {
.slider-social { margin-bottom:-1px;} 
.slider-social .container > div { background: none; padding: 0;z-index:300; }
.slider-social .row > div { position: absolute; bottom: 7px; right: 20px; }
}	