.page-content.rsidebar #maincontent, .page-content.rwidget #maincontent, .page-content.rsidebar #sidebar, .page-content.rwidget #sidebar {
  width: 92%;
  margin: 0 4%;
}
.page-content.rsidebar #sidebar, .page-content.rwidget #sidebar {
  padding: 0;
  border-left: 0;
  clear: both;
  float: none;
}

#sidebar {
  margin: 00px 0 10px 0;
  border-bottom: 0;
padding-top:10px;}

@media (min-width:$screen-sm) {
#sidebar {    border-left: 0;
    background: url("//www.montana.edu/msucommon/base/images/structure/backgrounds/bkrule-white.png") left repeat-y;
}
#sidebar.border0 { background:0;}
}