footer {
   a:visited { color:inherit;}
 }
 
footer {
  
  * {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  }
  
  background: $footer-background;
  color: #888;
  position: relative;
  ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
  }
  li {
    color: #ccc;
    list-style: none;
    a {
      display: block;
      padding: 3px 0;
      color: inherit;
      
      &:hover { color: $color-gold;}
      .fa { color:inherit !important;} 
    }
    h3 {
      font-size: 15px; 
      color: #fff;
      margin: 0 28px 6px 0;
    }
  }
  >div {
    border-top: 3px solid #222;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }  
  li.social-horizontal a {
    padding: 3px 0px;
    min-width: 30px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
  }
  nav ul li h3, nav ul li h3 a {
    margin: 0;
    padding: 3px 0;
  }
  
}

@media (max-width: $screen-xs-max) {
  footer {
    .brand  { margin-top: 15px; text-align:center; float:none !important; }
    ul { margin-bottom:15px; margin-top:15px;  }
  }

}
