/* Subfeature Link Buttons */
#subfeature-nav, #stacked-nav { margin-bottom:30px;   }
#subfeature-nav {margin-left:-7.5px; margin-right:-7.5px;}

ul.picturefeature { margin: 0; padding: 0; position: relative; @extend .clearfix;  }


 .subfeature { 
     margin-bottom: 15px; 
  
   .picturefeature li {  line-height: 1.5em;
      padding: 0;
      float: left;display: block; text-align: center;   text-align: center; 
   }
   .picturefeature {
     @extend .clearfix; 
     &.div3 li { @extend .col-xs-4; }
     &.div4 li { @extend .col-sm-3; @extend .col-xs-3;  }
     &.div5 li { @extend .col-sm-2-4;@extend .col-xs-4; }
     &.div6 li { @extend .col-sm-2; @extend .col-xs-4; }
     
     &.div3 li, &.div4 li, &.div5 li, &.div6 li, li { 
       @extend .col-ts-6;
       padding-right:7.5px !important;
       padding-left:7.5px !important;
       list-style: none;
       //margin-left: 0;   margin-right: 0;padding-left:0; 
       margin-bottom:15px;}
       
      li img { width: 100%; height: auto; padding: 0; margin: 0; position: relative;  /*float: left; */}
      li a { background: #000; color: #fff; width: 100%; display: inline-block; padding: 0; text-decoration: none; position: relative; bottom: 0; padding-bottom: 10px; }
      li a:hover { color: #f0ad00; }
      li a p {display: block; width: 100%;vertical-align: middle;/*height: 42px;*/  overflow: hidden;   margin: 0;
  padding: 3px 2px 0 2px; font-size: .9rem;
      span { float: left; display: table-cell; width: 100%; }}
   } 
}

/* Stacked Navigation */
.ul3 ul { @extend .col-xs-4; }
.ul4 ul { @extend .col-sm-3; @extend .col-xs-6; }
.ul5 ul { @extend .col-sm-2-4;@extend .col-xs-4; }
.ul6 ul { @extend .col-sm-2; @extend .col-xs-4; }

.stackednav {
  clear:both;
  ul { @extend .clearfix; } 
  li { list-style: none; margin: 0; padding: 0; font-size: 11px; line-height: 1.5em; 
    h3 { padding: 0; margin: 0; font-size: 1.2em;    }
    h3 a { color: #003f7f; }
    a { color: #585858; }
  }
  h3 a, a { display: block; padding: 2px 0; text-decoration: none;
      &:hover { text-decoration:underline;}
    }
}
 
 

 
/* MEDIA QUERY 30EM 

 480px */
@media (max-width: $screen-ts-max)  {
   #stacked-nav { 
      ul { width:100%; margin:5px 0;}
      li {font-size:1rem; padding: 3px 0 2px 0;
        h3 { border-bottom:1px solid $gray-lighter; } 
      }
    } 
    
  .picturefeature, .picturefeature.div3, .picturefeature.div4, .picturefeature.div5, .picturefeature.div6 {
       li {width:100%; font-size: 14px; padding-bottom:5px;} 
    }

  #subfeature-nav, #stacked-nav { margin-bottom:10px;}
}
