#header {
  background-color: $color-header-bg;
  width: 100%;
  padding: 0;
  
  * {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  }
  a:hover {
    cursor: pointer;
  }
}

#mobile_search input, #search input { background-color:#e4e4e4;} 
#mobile_search input:focus, #search input:focus { background-color:#fefefe;} 

button#searchformboxgo {
  color: $color-blue;
  text-transform: uppercase;
  border: solid 1px #f0ad00;
  font-size: 12px;
  width: 37px;
  padding: 2px 5px 2px 4px;
  margin-left: 3px;
  background: #f4c240;
  line-height: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #f6d473;
  cursor: pointer;

}
#banner{
  @include clearfix;
  text-align: left;
  margin: auto;
  position: relative;
  left: 0;
  top: 0;
  background: url("//www.montana.edu/msucommon/home/resources/images/structure/headers/bk108.png") repeat-y top center;
  color: #fff;
  padding: 15px 15px 10px 15px;
  .navbar-toggle {
    background: #449ffa;
  }
  a {
    color: #fff;
  }
}
 
 
#header-tools {
  padding-top: 30px;
  
  nav {
   padding-top: 5px;
  }
}

#mobile_search {
  display: block;
  
  input,#search input {
    background-color: #e4e4e4;
  }
  input:focus,#search input:focus {
    background-color: #fefefe;
  }
}
 
 
#search input.form-control, #search .btn { height: 24px; padding: 2px 13px; }
.btn.btn-search {
  color: #fff;
  background-color: $color-dodgerblue;
  border-color: $color-dodgerblue;
}


 
 


#banner {
  padding-bottom: 0;
  position: relative;
}

#banner.container  {
  padding-top: 0;
  margin-top: 0;
}
.siteheaderlinks  {
  @extend .list-inline; @extend .list-unstyled; padding:0; margin:0;
   > li { float:left;padding:0;margin:0;}
   > li.sublogo {border-left:1px solid #fff;margin-top:20px; padding-left:12px;}

}
 @media (max-width: $screen-xs-max) {
  
  .navbar-brand a {}
  .siteheaderlinks > li img { width:150px; height:auto;}
  .siteheaderlinks > li.sublogo {margin-top:12px; padding-left:12px;
    img {max-width:150px; max-height:27px; width:auto; height:auto;}
   }
    
  .navbar-brand { padding: 15px;}
} 

@media (max-width: $screen-ts-max) {
    .siteheaderlinks > li.sublogo { display:none;}
}


.navbar-brand {
  height: auto;
  //padding: 5px 10px 5px 0;
  img {
  width: 200px;
  height: auto;
  }
}
.navbar-subbrand{ margin-top:20px;border-left: 1px solid #fff; padding: 0 11px 0 10px; display: inline-block; zoom: 1; position: relative; *display:inline;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: inherit;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $color-gold;
}

#header #menu-search-open {
  padding: 13px 0; 
  clear: both;
  position: relative;
  
  border: 0;
  background-color: #ccc;
  display: block;
  @include box-shadow(none);
} 


 #msu-topnav { 

    color: $color-skyblue;
    background-color: black;
    text-align: right;
    padding: 8px 10px;
    font-size: .85em;
    
    a {
    color: #8fdbf9;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
      list-style: none;
      display: inline;
      margin-left: 10px;
      }
    }
    .container { padding-top:0; padding-bottom:0;}
  }
  

@media (max-width: $screen-xs-max) {
 #msu-topnav {
    color: $color-skyblue;
    background-color: black;
    text-align: right;
    padding: 8px 10px;
    font-size: .85em;
    a {
    color: #8fdbf9;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
      list-style: none;
      display: inline;
      margin-left: 10px;
      }
    }
  }
 
  .navbar-subbrand { display:none;}
  
}
#searchbox {  
  .btn.btn-search:hover { background-color: darken( $color-dodgerblue, 10% ); border-color: darken( $color-dodgerblue, 10% ); } 
}

@media (min-width: $screen-md) {
  #searchbox { padding-top:10px}
}
