$list-group-active-color: $gray-lighter;
$list-group-active-color-inverse: $color-lightyellow; 
$list-group-active-bg: $color-heathergrey;
$list-group-active-border: $color-heathergrey;
$list-group-active-text-color: #fff;
$list-group-link-hover-color: $color-dodgerblue;



/* 5 column solution */
.col-lg-2-4{
  @include make-lg-column(2.4)
}
.col-md-2-4{
  @include make-md-column(2.4)
}
.col-sm-2-4{
  @include make-sm-column(2.4)
}
.col-xs-2-4{
  @include make-xs-column(2.4)
}

.col-md-push-2-4{
  @include make-md-column-push(2.4)
}
.col-md-pull-2-4{
  @include make-md-column-pull(2.4)
}
.col-md-offset-2-4{
  @include make-md-column-offset(2.4)
}

.col-sm-push-2-4{
  @include make-sm-column-push(2.4)
}
.col-sm-pull-2-4{
  @include make-sm-column-pull(2.4)
}
.col-sm-offset-2-4{
  @include make-sm-column-offset(2.4)
}

.col-xs-push-2-4{
  @include make-xs-column-push(2.4)
}
.col-xs-pull-2-4{
  @include make-xs-column-pull(2.4)
}
.col-xs-offset-2-4{
  @include make-xs-column-offset(2.4)
}


/* end grid */



.list-group-item {
  
  // Disabled state
   

  // Active class on item itself, not parent
  &.active {
        font-size:1.15em;
        color:$list-group-active-color-inverse;
  }
  
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;
    padding: 10px 15px;
 
    .list-group-item-text {
      color: $list-group-active-text-color;
    }
  }
  
  &.active:hover,
  &.active:focus {
    color:$list-group-active-color-inverse;
    .list-group-item-text {
       color:$list-group-active-color-inverse;
    }
  }
  
}


a.list-group-item {
  color: $list-group-link-color;

 

  // Hover state
  &:hover,
  &:focus { 
    color: $list-group-link-hover-color; 
    
    .list-group-item-heading {
      color: $list-group-link-hover-color;
    }
  }
}
 
.btn {
     white-space: normal;text-decoration:none;
  a, a:visited { color:inherit; text-decoration:none;}
}
 
#left .btn, a.btn-primary, a.btn-success, a.btn-info, a.btn-warning, a.btn-danger {
    &:visited, &:focus, &:active, &:focus { color:#fff;}
}

.navbar-nav { margin:0;}
.panel {
  @include box-shadow(none);
 }
 .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group { border-top:0;}
 

// links //
a { text-decoration: underline; }
#footer, #header, #left, #contact, #breadcrumb, .main-banner, .yamm, .grid-caption, .item-box-title { 
    a { text-decoration:none; }
}

// Fancybox //
.thumbnail.fancybox-thumb { display:inline-block; border-radius:0;border:0;padding:2px; margin-bottom:0;float:left;}
.fancybox-lock body {
    overflow: auto !important;
}
.fancybox-margin { margin-right:0 !important;}
/* Adams fancy box */
.customfancybox .thumbnail { background:none; border:0;padding:0; margin:0;display:block;float:left;}
.customfancybox .thumbnail img { max-height:inherit;width:auto; padding:5px 5px 0 0; margin:0; border:0;}
#rightpane .customfancybox .thumbnail img { height: initial; } 
.customfancybox.padding0 .thumbnail img {padding:0; }
.customfancybox .galsubheading .caption {  font-size: 14px; color:#585858;}