.custom-inline-input {
  
  margin: 0;
  padding: 0;
    > input {
    width: 100%;
    z-index: 0;
  }
   .input-group {
  width: 100%;
  }
  
  .form-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .form-query:focus + button {
    z-index: 3;
  }
  .input-group-btn {
    position: absolute;
    top: 0;
    right: 5px;
  }
  button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    top: 3px;
    margin-bottom: 0;
    color: #333;
    z-index: 300;
    a:hover {
      color: $color-dodgerblue !important;
      cursor: pointer;
    }
  }
}
#left {.btn:active, .btn.active { -webkit-box-shadow: none; box-shadow: none; }}
